@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

body {
	font-family: Calibri, Helvetica, Arial;
	background: #fcf281;
}
h2 {
	-webkit-text-stroke: 1px black;
	text-shadow: -2px 2px 2px black;
	font-weight: bold;
	color: white;
}