@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
:root {
	--needledrop-color: #fcf281;

}

body {
	font-family: Calibri, Helvetica, Arial;
	background: var(--needledrop-color);
	margin: 30px;
}
h2 {
	-webkit-text-stroke: 1px black;
	text-shadow: -2px 2px 2px black;
	font-weight: bold;
	color: white;
}

h3 {
	font-size: 16px;
	font-weight: normal;
}

.genre-select {
	display: flex;
	gap: 14px;
	padding: 0px;
}
.genre-select-all {
	padding: 20px;
	border: 2px solid black;
	border-radius: 6px;
	margin-right: 20px;
	font-weight: bold;
	cursor: pointer;
	&.selected {
		background: black;
		color: var(--needledrop-color);
	}
}

.year-select {
	appearance: none;
	background: var(--needledrop-color);
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
	color: black;
	border: 2px solid black;
	border-radius: 6px;
	cursor: pointer;
	padding: 20px;
	padding-right: 25px;
	font-weight: bold;
	font-size: 16px;

	&:focus {
		outline: 0;
	}
}

.table {
	margin-top: 30px;
}
.quick-filter {
	padding: 10px;
	background: #333;
	input {
		color: black;
		font-size: 16px;
		font-weight: bold;
		background: white;
		width: 250px;
		padding: 5px 10px;
	}
}

li {
	list-style: none;
	padding: 20px;
	border: 2px solid black;
	border-radius: 6px;
	cursor: pointer;
	color: black;
	font-weight: bold;
}

li.selected {
	background: black;
	color: var(--needledrop-color);
}